# IDEs
.idea/
*.iml
.vscode/
*.swp
*.swo
.DS_Store

# Build artifacts
target/
build/
bin/
dist/
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/

# Python
__pycache__/
*.pyc
.venv/
env/

# OS
.DS_Store
Thumbs.db
services/gateway-java/connector-server/src/main/resources/application-local-private.yml

# AI Assets
assets/search/models/*.onnx_data
cli/cjtCli/lib/*.a
cli/cjtCli/pkg/search/assets/lib/
cli/cjtCli/pkg/search/assets/models/
!cli/cjtCli/pkg/search/assets/lib/**/.gitkeep
!cli/cjtCli/pkg/search/assets/models/**/.gitkeep

# Compiled Binaries
cli/cjtCli/cjtCli
cli/cjtCli/cjtCli-test
/assets/search/models/

.gemini/
