# Binary outputs
cjtc
cjtc-test
build/

# Static libraries and shared objects (CGO dependencies)
*.a
*.so
*.dylib
*.dll

# AI Models and Index
*.onnx
*.onnx_data
*.idx
*.json
!go.mod
!go.sum
!package.json

# Local logs and config
log/
*.log
*.pid
*.yaml
.seal